body { 
  background-color:#f5f5f5;
}

nav ul li {
  margin:0;
  padding:0;
  display:inline-block;
}

#main-header {
  z-index:9000;
  background-color:white;
  padding:0.5em 1em; 
  line-height: 3em;
  
  a {
    color:$color-links;
  }
  
  a:hover {
      color:#1B1464;
    }
    
  nav {
    display: inline-block;  
  } 
  
  .logo {
    margin:0;
    
    span {
      position:relative;
      top: 0.1em;
    } 
    
    img {
      width:1.5em;
    }
  }
  
  
}

.user-menu {
  color:#bbb;
  text-align:right;
  
  a {
	display:inline-block;
    color:inherit;
    line-height: 4em;
  }
   
  a:hover, a:focus {
    color:$color-links-light;
  }
}

.menu-col {
	text-align:center;
}

@media #{$b-sm-up} {
   .menu-col {
		text-align:right !important;
	}
}

.pages-menu {
  text-align:right;
    
  ul {
    margin:0;
    padding:0;
  }
  
  li {
    padding:0.5em;
    
    a {
      font-size: 1.2em;
    }
  }  
}

//.user-menu for mobile - text-align:center

.content {
  line-height:1.4em;
  padding:1em;
  padding-top:2em;
}

.content p {
  margin-bottom:1em;
}

#status-graph-box {
  border:1px solid $color-dark;
  border-radius:0.5em;
}

footer {
  height:5em;
  font-size:0.8em;
  padding:1em;
  display:block;
  width:100%;
  color:#0378A0;
}

.profile-sidebar ul  {
  list-style: none;
  padding: 0;
  line-height: 1.8em;
}

#user-data .submit-key dd {
  font-size: 1.8em;
  word-wrap: break-word;
  word-break: break-all;
  border: 1px solid #98bcdb;
  border-radius: 5px;
  padding: 0.3em;
  background-color: #2ba1e2;
  color: #005a82;
}


