body { 
  background-color:#f5f5f5;
}

nav ul li {
  margin:0;
  padding:0;
  display:inline-block;
}

#main-header {
  z-index:9000;
  background-color:white;
  padding:0.5em 1em; 
  line-height: 3em;
  
  a {
    color:$color-links;
  }
  
  a:hover {
      color:#1B1464;
    }
    
  nav {
    display: inline-block;  
  } 
  
  .menu-col {
    text-align:right;
  }
  .logo {
    margin:0;
    
    span {
      position:relative;
      top: 0.1em;
    } 
    
    img {
      width:1.5em;
    }
  }
  
  .user-menu {
    color:#bbb;
    margin-left:3em;
    
    a {
      color:inherit;
    }
     
    a:hover, a:focus {
      color:$color-links-light;
    }
  }
  
  .pages-menu {
    
    ul {
      margin:0;
      padding:0;
    }
    
    li {
      padding:0.5em;
      
      a {
        font-size: 1.2em;
      }
    }  
  }
  
  
}




.content {
  line-height:1.4em;
  padding:1em;
  padding-top:2em;
}

.content p {
  margin-bottom:1em;
}

#status-graph-box {
  border:1px solid $color-dark;
  border-radius:0.5em;
}

footer {
  height:5em;
  font-size:0.8em;
  padding:1em;
  display:block;
  width:100%;
  color:#0378A0;
}