input[type="text"] {
  background-color: transparent;
  line-height: 1.5em;
  border: medium none;
  padding: 0.3em;
  border-radius: 0.3em;
  color: #0378A0;
  border: 1px solid #073e4d;
  margin-bottom:1em;  
  text-align:left;    
}

input[type="text"]:hover, input[type="text"]:focus, input[type="text"]:active {
  border-color:#0378A0;
}


.button, input[type="button"] {
  display:inline-block;
  border-radius:0.2em;
  line-height:1.7em;
  padding: 0.2em 1em;
  border: 1px solid transparent;  
  background-color:transparent;   
  }
  
  .button:hover, .button:active, .button:focus, input[type="button"]{
  /*background-color: rgba(192, 42, 69, 0.27);*/
  color:#E72E4F;
  border: 1px solid #E72E4F !important;
  text-decoration: none;
}

.button:visited {
  color:#E72E4F;
}
