body {
  font-family: 'Raleway', sans-serif;
  color:$color-typo;
}

h1, h2, h3, h4, h5, #main-header {
  font-family: 'Coda', sans-serif;
}
    

    


a {
  color:$color-links;
  text-decoration:none;
}
a:visited {
  color:darken($color-links,0.7);
}

a:hover, a:active, a:focus {
  color:rgb(37, 176, 218)
          
} 

