/* VARIABLES */

$color-dark:#041216;
//$color-typo:#cadfe7;
$color-typo:#333; 
$color-links:#005A82;
$color-links-light:rgb(42, 193, 225);
$color-highlight-red:#E72E4F;
$color-highlight-blue:rgb(0, 144, 186);

$font-size-medium:1.4em;

/* MIXINS */


/* BOOTSTRAP BREAKPOINTS */

$b-xs-up:"only screen and (min-width : 480px)"; //phones
$b-sm-up:"only screen and (min-width : 768px)"; //tablets
$b-md-up:"only screen and (min-width : 992px)"; //tablets, small displays
$b-lg-up:"only screen and (min-width : 1200px)"; //large displays

$b-xs-down:"only screen and (max-width : 768px)"; //phones
$b-sm-down:"only screen and (max-width : 992px)"; //tablets
$b-md-down:"only screen and (max-width : 1200px)"; //small displays

/*
 usage:
 
 @media #{$b-sm-up} {
   
 }
 
 * 
 * */
