// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


/****** RESETS *******/
html {
  box-sizing:border-box;
  height: 100%;   
}

*, *:before, *:after {
  box-sizing:inherit;
}

img, video{
  max-width:100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  font-weight: 100;
}

/***** VARIABLES *****/



/***** LAYOUT *****/

body {
  color:#eee;
}

html { 
  background: url(/img/from_blue_watercolor_wide_1920x1080.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

//
//1920*1080 bg + a couple of smaller sizes picked by a media query

//small
//medium
//large 